.DS_Store

front/node_modules/
front/coverage/
front/.idea
front/package-lock.json
front/README.md
front/test-report.html

back/database_test.sqlite
back/node_modules/
back/coverage/
back/README.md

.vscode/